venv/
data/data.egg-info/
pairwiseturngpt/pairwiseturngpt.egg-info/
**/.idea/
**/__pycache__/
**/.ipynb_checkpoints/
data/maptask/transcripts 
data/maptask/parsed_transcripts 
data/edacc/data 
data/switchboard/splits/data
data/switchboard/switchboard/switchboard1/transcriptions/*
data/switchboard/switchboard.tar.gz
data/gld_switchboard/golden_switchboard
data/fisher/fisher
data/fisher/fisher.zip
data/category_bins/
data/metrics/
data/ts/
data/switchboard/*.png
gptonly/trained_model
pairwiseturngpt/trained_model
model/
*.egg-info/
build/
*.pt
**/wandb/
data/.cache/GPT2TokenizerFast
